.order-container {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
}

.items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
}

.items-wrapper {
    display: flex;
}

.order-details {
    list-style-type: none;
}

.button {
    display: inline-block;
    border: none;
    color: white;
    background-color: #fe4acd;
    font-size: 16px;
    padding: 10px 14px;
    border-radius: 100px;
    cursor: pointer;
}